body {
  font-family: "SF Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 10vh;
}

input[type=button] {
  border: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: white;
  background-color: red;
  transition: transform 0.075s;
}

input[type=button]:hover {
  background-color: black;
}

input[type=button]:active {
  transform: scale(0.9);
}

#convert-button {
  padding: 2vh 2vw 2vh 2vw;
}

#url-input {
  width: 70vw;
  font-size: 1.25rem;
}

#input-field {
  margin: 5vh 0 5vh 0;
}

#formats-table table, th, td {
  table-layout: fixed;
  border-collapse: collapse;
  border:1px solid black;
}

#formats-table th {
  width: 20vw;
}

#formats-table td {
  height: 5vh;
}

#formats-table input[type=button] {
  width: 60%;
  margin: 2vh 20% 2vh 20%;
}
