body {
  font-family: "SF Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  margin: 0;
}

header {
  width: 100%;
  margin-bottom: 80px;
  background-color: #FF0000;
}

header img {
  width: 300px;
}

footer {

}

input[type=button] {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: #FF0000;
  transition: transform 0.075s;
}

input[type=button]:hover {
  background-color: black;
}

input[type=button]:active {
  transform: scale(0.9);
}

#loading-icon {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #FF0000;
  border-bottom: 12px solid #FF0000;
  width: 100px;
  height: 100px;
  animation: spin 1.2s linear infinite;
  margin: 0 auto 80px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#url-input {
  margin-bottom: 80px;
}

#url-input label {
  color: white;
  background-color: #FF0000;
  padding: 2.7vh 1vh 2.8vh 1vh;
  font-weight: bold;
  font-size: 115%;
  border-radius: 0.4rem;
}

#input-field {
  width: 50vw;
  padding: 2vh 1vw;
  line-height: 2.4vh;
  font-size: large;
  border: none;
}

#input-field:focus {
  outline-width: 0;
}

#search-button {
  margin-left: 15px;
  padding: 15px 25px;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 110%;
}

#video-details {
  will-change: transform;
  padding: 30px;
  background-color: #f2f2f2;
  border: black 5px solid;
  border-radius: 0.4rem;
  height: 100px;
  width: 650px;
  margin: 0 auto 80px auto;
}

#video-details img {
  height: 100px;
  position: fixed;
  right: 70%;
}

#video-details div {
  margin-left: 32%;
}

#video-details h3 {
  margin-top: 0;
}

#video-details ul {
  padding: 0;
}

#video-details li {
  display: inline-block;
  margin: 3px 4px;
  white-space: nowrap;
}

#formats-table table {
  margin: 0 auto 80px auto;
}

#formats-table table, th, td {
  table-layout: fixed;
  border-collapse: collapse;
}

#formats-table th {
  width: 180px;
  height: 30px;
  background-color: #FF0000;
  color: white;
}

#formats-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#formats-table input[type=button] {
  width: 60%;
  margin: 3px 0 3px;
}
