body {
  font-family: "SF Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
}

header {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 10vh;
}

input[type=button] {
  border: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: white;
  background-color: red;
  transition: transform 0.075s;
}

input[type=button]:hover {
  background-color: black;
}

input[type=button]:active {
  transform: scale(0.9);
}

#url-input {
  margin: 8vh auto;
  width: 90vw;
  max-width: 1600px;
}

#url-input label {
  color: white;
  background-color: black;
  padding: 2.4vh 0.5vw;
  font-weight: bold;
  font-size: 110%;
}

#input-field {
  width: 60%;
  min-width: 25%;
  padding: 2vh 1vw;
  line-height: 2.4vh;
  font-size: large;
}

#search-button {
  margin-left: 2vw;
  padding: 2vh 3vw;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 110%;
}

#formats-table table {
  margin: 8vh auto;
}

#formats-table table, th, td {
  table-layout: fixed;
  border-collapse: collapse;
  border:1px solid black;
}

#formats-table th {
  width: 18vw;
  max-width: 200px;
}

#formats-table td {
  height: 3vh;
}

#formats-table input[type=button] {
  width: 60%;
  margin: 1vh 1vw;
}
