body {
  font-family: "SF Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  text-align: center;
  margin: 0;
}

header {
  width: 100%;
  margin-bottom: 15vh;
  background-color: #FF0000;
}

header img {
  width: 300px;
}

footer {
  margin-top: 10vh;
}

input[type=button] {
  border: none;
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: white;
  background-color: #FF0000;
  transition: transform 0.075s;
}

input[type=button]:hover {
  background-color: black;
}

input[type=button]:active {
  transform: scale(0.9);
}

#url-input {
  margin: 8vh auto;
  width: 98vw;
  max-width: 1600px;
}

#url-input label {
  color: white;
  background-color: #FF0000;
  padding: 2.7vh 0.7vw 2.8vh 0.8vw;
  font-weight: bold;
  font-size: 115%;
  border-radius: 0.4rem;
}

#input-field {
  width: 60%;
  min-width: 25%;
  padding: 2vh 1vw;
  line-height: 2.4vh;
  font-size: large;
  border: none;
}

#input-field:focus {
  outline-width: 0;
}

#search-button {
  margin-left: 2vw;
  padding: 2vh 3vw;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 110%;
}

#video-details {
  will-change: transform;
  height: 20vh;
  margin-bottom: 15vh;
}

#video-details img {
  text-align: left;
  height: 20vh;
  position: fixed;
  right: 70%;
}

#formats-table table {
  margin: 8vh auto;
}

#formats-table table, th, td {
  table-layout: fixed;
  border-collapse: collapse;
}

#formats-table th {
  width: 18vw;
  max-width: 200px;
  background-color: #FF0000;
  color: white;
}

#formats-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#formats-table th, td {
  height: 4vh;
}

#formats-table input[type=button] {
  width: 60%;
  margin: 1vh 1vw;
}
