header {
  width: 100%;
  margin-bottom: 80px;
  background-color: #00FFFE;
}

header img {
  width: 300px;
}

footer {

}

input[type=button] {
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #00FFFE;
  transition: transform 0.075s;
}

input[type=button]:hover {
  color: white;
  background-color: black;
}

input[type=button]:active {
  transform: scale(0.9);
}

#url-input {
  margin-bottom: 80px;
}

#url-input label {
  background-color: #00FFFE;
  padding: 24px 8px 26px;
  font-weight: bold;
  font-size: 115%;
  border-radius: 0.4rem;
}

#input-field {
  width: 50vw;
  max-width: 900px;
  padding: 16px 9px;
  line-height: 25px;
  font-size: large;
  border: none;
}

#input-field:focus {
  outline-width: 0;
}

#input-field:disabled {
  background-color: white;
  pointer-events: none;
}

#search-button {
  margin-left: 15px;
  padding: 15px 25px;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 110%;
}

#search-button:disabled {
  pointer-events: none;
}

#start-message {
  
}

.loading-icon {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #00FFFE;
  border-bottom: 12px solid #00FFFE;
  width: 100px;
  height: 100px;
  animation: spin 1.2s linear infinite;
  margin: 0 auto 80px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#video-details {
  background-color: #eaeaea;
}

#video-details > div {
  will-change: transform;
  padding: 30px;
  border-radius: 0.4rem;
  height: 150px;
  width: 700px;
  margin: 0 auto 80px auto;
}

#video-details img {
  height: 150px;
  min-width: 250px;
  position: fixed;
  left: 30px;
}

#video-details div > div {
  height: 150px;
  margin-left: 42.5%;
}

#video-details h3 {
  height: 50px;
  margin: 0;
  padding: 8px 0 8px;
}

#video-details p {
  line-height: 1.5em;
  text-decoration: underline black;
  overflow-wrap: break-word;
  max-width: max-content;
  margin: 0 auto;
  padding: 0 24px;
  border-radius: 0.4rem;
}

#success-message {
  margin: 0 auto 20px;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #f2f2f2;
  color: #00bc00;
  width: 700px;
  padding: 12px 8px;
  border-radius: 0.3rem;
}

#formats-table table {
  margin: 0 auto 80px auto;
}

#formats-table table, th, td {
  table-layout: fixed;
  border-collapse: collapse;
}

#formats-table th {
  width: 180px;
  height: 30px;
  background-color: #00FFFE;
}

#formats-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#formats-table input[type=button] {
  width: 60%;
  margin: 3px 0 3px;
}

#current-download {
  margin-bottom: 80px;
}

#progress-bar {
  border-radius: 1.2rem;
  margin: 20px auto 0;
  width: 500px;
  background-color: lightgray;
}

#progress-bar div {
  border-radius: 1.2rem;
  background-color: #00FFFE;
  height: min-content;
  padding: 5px 0;
  width: 0;
}