body {
  background-color: #00FFFE;
  font-weight: bolder;
  font-size: 1.1rem;
}

div {
  margin-top: 50px;
}

a {
  font-size: 1.1em;
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 0.4rem;
  margin: 80px 8px;
  padding: 10px 8px;
}

object {
  color: black;
  background-color: white;
  height: 25px;
  border-radius: 25%;
  padding: 3px;
  top: 0.45em;
  position: relative;
}

#dismiss-window {
  margin-top: 25px;
  padding: 8px 20px;
  font-size: 1.1em;
  color: white;
  background-color: black;
  border-radius: 0.4rem;
  border: none;
}

a, #dismiss-window {
  transition: all 0.3s ease 0s;
}

a:hover, #dismiss-window:hover {
  box-shadow: 0 8px 8px black;
  transform: translateY(-4px);
}
